streamlit
groq
python-dotenv
huggingface_hub
sentence-transformers
chromadb==1.5.9
pypdf
SpeechRecognition
pydub
Pillow
audio-recorder-streamlit
streamlit-mic-recorder
torch
torchvision
