streamlit
groq
python-dotenv
pypdf
sentence-transformers
chromadb
google-generativeai
SpeechRecognition
pydub
Pillow
huggingface_hub
audio-recorder-streamlit==0.0.10
torch
transformers
numpy
